<div class="container">
    <div class="col-sm-12">
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="card grey lighten-2">
                    <form class="col s12 white" [formGroup]="goalForm" #formDir="ngForm" (ngSubmit)="save()">
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <h6 style="color:darkcyan">Goals and Objectives</h6>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                Define goals and objectives by completing the below:
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Goals:</label>
                                    <textarea type="text" formControlName="goalName" placeholder="Define Goals"></textarea>
                                </div>
                            </div>
                            <div class="row" style="float:right">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

