
<div class="container">
    <div class="col-sm-12">
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="card grey lighten-2">
                    <div class="col s12 white">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 style="color:darkcyan">Goals and Objectives</h5>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                Define goals and objectives by completing the below:
                            </div>
                        </div>
                        <table class="table" *ngIf="goalList">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Goals</th>

                                    <th><span class="glyphicon glyphicon-plus" [routerLink]="['/addGoals']"> </span></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let goals of goalList" style="background-color:cadetblue">
                                    <td><span class="glyphicon glyphicon-edit" [routerLink]="['/editGoals/', goals.goalId]"></span></td>
                                    <td>{{goals.goalName}}</td>
                                    <td><span class="glyphicon glyphicon-trash" (click)="delete(goals.goalId)"></span></td>
                                </tr>
                            </tbody>

                        </table>

                        <div class="row">
                            <table class="table" *ngIf="objectiveList">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Objectives</th>

                                        <th><span class="glyphicon glyphicon-plus" [routerLink]="['/addObjectives']"> </span></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let obj of objectiveList">
                                        <td><span class="glyphicon glyphicon-edit" [routerLink]="['/editObjectives/', obj.objectiveId]"></span></td>
                                        <td>{{obj.objectiveNumber}}</td>
                                        <td><span class="glyphicon glyphicon-trash" (click)="deleteObjectives(obj.objectiveId)"></span></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</div>
