
<h5 style="text-align:center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Define Roles And Responsibilities</h5>
<br />


<div class="col-md-12">
    <table class="table" *ngIf="roleList">
        <thead>
            <tr>
                <th></th>
                <th>Roles And Responsibilities</th>
                <th><span class="glyphicon glyphicon-plus" [routerLink]="['/addRolesAndResponsibilities']"> </span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let roles of roleList">
                <td><span class="glyphicon glyphicon-edit" [routerLink]="['/edit/RolesAndResponsibilities/', roles.roleID]"></span></td>
                <td>{{roles.roleName}}</td>
                <td><span class="glyphicon glyphicon-trash" (click)="DeleteRoles(roles.roleID)"></span></td>
            </tr>
        </tbody>

    </table>
    <br />

    <button class="btn btn-default" routerLink="/viewCommittee" style="float:right; height: 45px; width:20%">NEXT</button>
</div>





